<div class="item">
    <label for="avatarUrl" class="label">Avatar URL</label>
    <input 
        id="avatarUrl" 
        type="url" 
        class="info" 
        name="avatar_url"
        placeholder="http://"
        value="{{member.avatar_url}}"
    />
</div>

<div class="item">
    <label for="memberName" class="label">Nome</label>
    <input id="memberName" 
        type="text" 
        class="info" 
        name="name"
        placeholder="Nome do membro"
        value="{{member.name}}"
    />
</div>

<div class="item">
    <label for="memberEmail" class="label">E-mail</label>
    <input id="memberEmail" 
        type="text" 
        class="info" 
        name="email"
        placeholder="E-mail do membro"
        value="{{member.email}}"
    />
</div>

<div class="item">
    <label for="memberBirth" class="label">Data de nascimento</label>
    <input 
        id="memberBirth" 
        type="date" 
        class="info"
        name="birth"
        value="{{member.birth}}"
    />
</div>

<div class="item">
    <label for="memberWeight" class="label">Peso (KG)</label>
    <input 
        id="memberWeight" 
        type="number" 
        class="info"
        name="weight"
        value="{{member.weight}}"
    />
</div>

<div class="item">
    <label for="memberHeight" class="label">Altura (CM)</label>
    <input 
        id="memberHeight" 
        type="number" 
        class="info"
        name="height"
        value="{{member.height}}"
    />
</div>

<div class="item">
    <label for="memberBlood" class="label">Tipo sanguíneo</label>

    <select name="blood" id="memberBlood" class="info">
        <option value="A+" {% if member.blood == "A+" %} selected {% endif %}>A+</option>
        <option value="A-" {% if member.blood == "A-" %} selected {% endif %}>A-</option>
        <option value="B+" {% if member.blood == "B+" %} selected {% endif %}>B+</option>
        <option value="B-" {% if member.blood == "B-" %} selected {% endif %}>B-</option>
        <option value="AB=" {% if member.blood == "AB+" %} selected {% endif %}>AB+</option>
        <option value="AB-" {% if member.blood == "AB-" %} selected {% endif %}>AB-</option>
        <option value="O+" {% if member.blood == "O+" %} selected {% endif %}>O+</option>
        <option value="O-" {% if member.blood == "O-" %} selected {% endif %}>O-</option>
    </select>
</div>

<div class="item -flex">
    <span class="label">Sexo</span>

    <label for="male" class="info -highlighted -flex">
        <input
            id="male" 
            type="radio" 
            name="gender"
            value="M"
            {% if member.gender == 'M' %}
            checked
            {% endif %}
        />
        Masculino
    </label>
    <label for="female" class="info -highlighted -flex">
        <input
            id="female" 
            type="radio" 
            name="gender"
            value="F"
            {% if member.gender == 'F' %}
           checked
           {% endif %}
        />
        Feminino
    </label>
</div>