{% extends "layout.njk" %}

{%block content%}
    <div class="_grid">

        <div class="section-container">
            <div class="actions-toolbar">
                <a class="button" href="/members/create">Novo</a>
            </div>

            <table class="table-container">
                <thead>
                    <tr class="titles">
                        <th>Membro</th>
                        <th>Peso</th>
                        <th>Altura</th>
                        <th>E-Mail</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in members %}
                        <tr>
                            <td class="user-cell">
                                <img class="avatar" src="{{member.avatar_url}}" alt="Instructor Avatar" width="80" height="80"/>
                                <span class="name">{{member.name}}</span>
                            </td>
                            <td>{{member.weight}}</td>
                            <td>{{member.height}}</td>
                            <td>{{member.email}}</td>
                            <td>
                                <a class="button" href="/members/{{member.id}}"><span>Ver</span></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{%endblock content%}