{% extends "layout.njk" %}

{%block content%}
    <div class="_grid">
        <div class="info-container">
            <div class="image-box">
                <img src="{{member.avatar_url}}" alt="Workout Image">
            </div>

            <div class="info-box">
                <div class="content-title">
                    <h3 class="title">Detalhes</h3>
                </div>

                <div class="item">
                    <label class="label">Nome</label>
                    <span class="info">{{member.name}}</span>
                </div>

                <div class="item">
                    <label class="label">E-mail</label>
                    <span class="info">{{member.email}}</span>
                </div>

                <div class="item">
                    <label class="label">Idade</label>
                    <span class="info">{{member.age}}</span>
                </div>

                <div class="item">
                    <label class="label">Sexo</label>
                    <span class="info">{{member.gender}}</span>
                </div>

                <div class="item">
                    <label class="label">Peso (KG)</label>
                    <span class="info">{{member.height}}</span>
                </div>

                <div class="item">
                    <label class="label">Altura (CM)</label>
                    <span class="info">{{member.height}}</span>
                </div>

                <div class="item">
                    <label class="label">Tipo Sanguíneo</label>
                    <span class="info">{{member.blood}}</span>
                </div>

                {# <div class="item">
                    <label class="label">Desde</label>
                    <span class="info">{{member.created_at}}</span>
                </div> #}

                <a href="/members/{{member.id}}/edit" class="button"><span>Editar</span></a>
            </div>
        </div>
    </div>
{%endblock content%}