//
// Sections
// _________________________

.form-container {
    animation-delay: 1s;
    animation: up 500ms ease-out;
    animation-fill-mode: forwards;
    background-color: #FFF;
    box-shadow: 5px 5px 6px -2px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 500px;
    margin: 0 auto;
    opacity: 0;
    width: 100%;    
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
    }
}