//
// Page Header 
// _________________________
.page-header {
    background-color: #FFF; 
    margin-bottom: 40px;
}

.header-content {
    align-items: center;
    display: flex;
    justify-content: center;
}

.nav-list {
    align-items: center;
    display: flex;
    justify-content: center;

    > .item {
        display: flex;
    }

    > .item > .link {
        font-size: 18px;
        padding: 20px;
        position: relative;
        transition: color 200ms;

        &:hover {
            color: #7159C1;

            &::after {
                width: calc(100% - 40px);
            }
        }

        &::after {
            background-color: #7159C1;
            content: '';
            display: block;
            height: 1.5px;
            left: 20px;
            position: absolute;
            transition: width 200ms ease-in-out;
            width: 0;
        }
    }
}