//
// Table Container
// _________________________

.table-container {
    text-align: left;
    width: 100%;

    th,
    td {
        padding: 15px;
        border-bottom: 1px solid #d9d9d9;
    }

    tr:last-child td {
        border-bottom: none;
    }
}

.instructor-cell {
    display: flex;
    align-items: center;

    > .name {
        padding-left: 20px;
    }
}