//
// General
// _________________________

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background-color: #7159C1;
    font-family: 'Roboto';
    margin: 0;
}

main {
    padding-bottom: 60px !important;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

label {
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

input[type="radio"] {
    margin: 0 5px 0 0;
}