{% extends "layout.njk" %}

{%block content%}
    <div class="_grid">
        <div class="form-block">
            <div class="image-box">
                <img src="{{instructor.avatar_url}}" alt="Workout Image">
            </div>

            <div class="container">
                <form id="form-edit" class="form-container" method="POST" action="/instructors?_method=PUT">
                    <div class="info-box -form">
                        <div class="content-title">
                            <h3 class="title">Editar informações</h3>
                        </div>

                        {% include 'instructors/fields.njk' %}

                        <input 
                            type="hidden" 
                            name="id" 
                            value={{instructor.id}}
                        > 

                        <button type="submit" class="button"><span>Salvar</span></button>
                    </div>
                </form>

                <form id="form-delete" class="form-container -delete" method="POST" action="/instructors?_method=DELETE">
                    <input 
                        type="hidden" 
                        name="id" 
                        value={{instructor.id}}
                    > 

                    <button type="submit" class="button -delete"><span>Deletar</span></button>
                </form>
            </div>
        </div>
    </div>

    <script src="/assets/js/theme.js"></script>
{%endblock content%}