{% extends "layout.njk" %}

{%block content%}
    <div class="section-container _grid">
        <div class="form-container">
            <div class="image-box">
                <img src="https://source.unsplash.com/collection/3465564/600x500" alt="Workout Image">
            </div>

            <div class="info-box">
                <h3 class="content-title">Detalhes</h3>

                <div class="item">
                    <label>Nome</label>
                    <span>Claúdio Xablau</span>
                </div>

                <div class="item">
                    <label>Sexo</label>
                    <span>Masculino</span>
                </div>

                <div class="item">
                    <label>Acompanhamento</label>
                    <span>Musculação, Crossfit</span>
                </div>

                <div class="item">
                    <label>Desde</label>
                    <span>Janeiro de 2018</span>
                </div>
            </div>
        </div>
    </div>
{%endblock content%}